


{{#each burger}}
<h1>ID: {{id}}</h1>
<p>Name: {{burger_name}}</p>
<p>Devoured: {{devoured}}</p>

<button class="submit-button" id={{id}}>Devour!</button>
{{/each}}


<br>


<h1>Add A Burger</h1>
<input type="text" id="burgerName" placeholder="Burger Name">
<button id="burger-submit">Submit</button>

<script>

    $(document).on("click", ".submit-button", function(event){

        let id = event.target.id;

        $.ajax({
            url: "/api/burgers/" + id,
            type: 'PUT',
            data: {id: id}
        }).then((res) => {
            location.reload();
        });
    });

    $(document).on("click", "#burger-submit", function(event){

        let burgerName = $("#burgerName").val();

    


    });

    
</script>