 
 
 body{
     background-color: gray;
     font-family: 'Press Start 2P', cursive;
 }
 h4 {
     width: max-content;
 }

.center{
    margin: 0 auto;
}

.main-padding {
    padding: 5px;
}

.list-margin {
    margin-top: 4px;
}

.list-max-width{
    width: 80%;
}

.cus-button{
    color: black;
    background-color: gray;
}

.cus-button:hover{
    border: 2px solid cyan;
}

